<!DOCTYPE html>
<html>
<head>
	<title>Newsletter options</title>
	<link href="/typo3conf/ext/pxa_newsletter_subscription/Resources/Public/Css/bootstrap.min.css" media="all" rel="stylesheet" type="text/css" />
	<link href="/typo3conf/ext/pxa_newsletter_subscription/Resources/Public/Css/bootstrap-responsive.min.css" media="all" rel="stylesheet" type="text/css" />
</head>
<body>
	<div class="container" style="padding-top:10%">
		<div class="row">
			<div class="span6 offset3">
				<f:render section="main" />
			</div>
		</div>
	</div>
</body>
</html>