<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="main">
    <f:if condition="{success}">
        <f:then>
            <div class="alert alert-success">
                <f:translate key="subscribe_ok" />
            </div>

            <a href="{f:cObject(typoscriptObjectPath: 'lib.pxaNewsLetterMainPageUrl')}" class="btn btn-default"><f:translate key="back_to_website" /></a>
        </f:then>
        <f:else>
            <div class="alert alert-danger">
                <f:translate key="error.subscribe_error" />
            </div>
        </f:else>
    </f:if>
</f:section>
</html>