<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:pxa="http://typo3.org/ns/Pixelant/PxaNewsletterSubscription/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="main">
    <f:form action="ajax" pageType="6171240" data="{form: 'pxa-newsletter-subscription-form'}" class="{settings.form.class}">
        <f:form.hidden name="ceuid" value="{ceuid}" />

        <f:comment>
            Form fields.
            Wrap content will check if it need to enable it with inner or outer wrap
        </f:comment>

        <pxa:wrapContent settings="{settings.form.fields}">
            <f:comment>Name if enabled</f:comment>
            <f:if condition="{settings.formFieldNameIsMandatory}">
                <pxa:wrapContent settings="{settings.form.field.name}">
                    <f:form.textfield placeholder="{f:translate(key: 'name')}"
                                      class="{settings.form.field.name.class}"
                                      name="name"
                                      id="name"/>
                </pxa:wrapContent>
            </f:if>

            <pxa:wrapContent settings="{settings.form.field.email}">
                <f:form.textfield placeholder="{f:translate(key: 'email')}"
                                  class="{settings.form.field.email.class}"
                                  name="email"
                                  id="email"/>
            </pxa:wrapContent>
            <pxa:wrapContent settings="{settings.form.inputButtons}">
                <f:render section="button.subscribe" arguments="{_all}"/>
                <f:render section="button.unsubscribe" arguments="{_all}"/>
            </pxa:wrapContent>
            <div style="clear: both"></div>
        </pxa:wrapContent>
    </f:form>
</f:section>


<f:section name="button.subscribe">
    <pxa:wrapContent settings="{settings.form.button.subscribe}">
        <f:if condition="{settings.form.button.subscribe.useButtonTag}">
            <f:then>
                <f:form.button name="submitSubscribe"
                               class="{settings.form.button.subscribe.class}"
                               data="{identifier: 'submit'}">
                    <f:translate key='subscribe'/>
                    <f:if condition="{settings.form.button.subscribe.enableSpinner}">
                    <span style="display: none;"
                          class="{settings.form.button.subscribe.spinnerClass}"
                          data-identifier="spinner"></span>
                    </f:if>
                </f:form.button>
            </f:then>
            <f:else>
                <f:form.submit name="submitSubscribe" value="{f:translate(key: 'subscribe')}"
                               class="{settings.form.button.subscribe.class}"
                               data="{identifier: 'submit'}"/>
                <f:if condition="{settings.form.button.subscribe.enableSpinner}">
                <span style="display: none;"
                      class="{settings.form.button.subscribe.spinnerClass}"
                      data-identifier="spinner"></span>
                </f:if>
            </f:else>
        </f:if>
    </pxa:wrapContent>
</f:section>

<f:section name="button.unsubscribe">
    <f:if condition="{settings.displayUnsubscribeButton}">
        <pxa:wrapContent settings="{settings.form.button.unsubscribe}">
            <f:if condition="{settings.form.button.unsubscribe.useButtonTag}">
                <f:then>
                    <f:form.button name="submitUnsubscribe"
                                   class="{settings.form.button.unsubscribe.class}"
                                   data="{identifier: 'submit'}">
                        <f:translate key='unsubscribe'/>
                        <f:if condition="{settings.form.button.unsubscribe.enableSpinner}">
                        <span style="display: none;"
                              class="{settings.form.button.unsubscribe.spinnerClass}"
                              data-identifier="spinner"></span>
                        </f:if>
                    </f:form.button>
                </f:then>
                <f:else>
                    <f:form.submit name="submitUnsubscribe"
                                   value="{f:translate(key: 'unsubscribe')}"
                                   class="{settings.form.button.unsubscribe.class}"
                                   data="{identifier: 'submit'}"/>
                    <f:if condition="{settings.form.button.unsubscribe.enableSpinner}">
                    <span style="display: none;"
                          class="{settings.form.button.unsubscribe.spinnerClass}"
                          data-identifier="spinner"></span>
                    </f:if>
                </f:else>
            </f:if>
        </pxa:wrapContent>
    </f:if>
</f:section>
</html>