<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="main">
    <f:flashMessages />

    <f:form action="subscribe"
            name="subscription"
            object="{subscription}"
            controller="Ajax"
            pageType="{settings.ajaxPageType}"
            data="{form: 'pxa-newsletter-subscription-form'}">
        <f:variable name="colClass" value="{f:if(condition: settings.nameIsMandatory, then: 'col-sm-6', else: 'col-sm-12')}" />

        <div class="row">
            <div class="form-group">
                <f:if condition="{settings.nameIsMandatory}">
                    <div class="{colClass}">
                        <f:form.textfield placeholder="{f:translate(key: 'name')}"
                                          required="1"
                                          class="form-control"
                                          property="name" />
                    </div>
                </f:if>

                <div class="{colClass}">
                    <f:form.textfield placeholder="{f:translate(key: 'email')}"
                                      required="1"
                                      class="form-control"
                                      property="email" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="pull-right">
                    <f:form.submit name="subscribe" value="{f:translate(key: 'subscribe')}" class="btn btn-default" />
                </div>
            </div>
        </div>

        <f:form.hidden name="ceUid" value="{ceUid}" />
    </f:form>
</f:section>
</html>